body, .darkBlueBox, .underHeaderBox {
    display: flex;
    flex-direction: column;
}

body {
    align-items: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    gap: 30px;
}

p {
    margin: 0;
}

.darkBlueBox{
    background-color: #1F2937;
    width: 100%;
    align-items: center;
    height: 425px;
    padding-top: 20px;
    gap: 60px;
}

header, .underHeader, .whiteBox1, .innerGreyBox, .whiteBox2 {
    display: flex;
    width: 950px;
}

header {
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.headerLinks {
    display: flex;
    gap: 13px;
}

.underHeader {
    gap: 80px;
}

.underHeaderBox {
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

.headerLinks, 
.underHeaderBox p  {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.underHeaderBox h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.underHeaderBox button {
    background-color: #3882F6;
    color: white;
    padding: 7px 24px;
    border-radius: 10%;
    border: none;
    font-weight: bold;
}

.imgHolder img {
    max-width: 400px;
    border-radius: 28%;
}

.whiteBox1 {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.whiteBox1 p {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.randomContainer{
    display: flex;
    justify-content: space-around;
}

.subtext {
    font-size: 18px;
}

.card {
    flex: 0 0 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    text-align: center;
}

.card img {
    width: 100px;
}

.greyBox {
    background-color: #E5E7EB;
    width: 100%;
    display: flex;
    justify-content: center;
}

.innerGreyBox {
    flex-direction: column;
    padding: 60px 0;
    gap: 15px;
    width: 52vw;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    font-family: serif;
    font-weight: 100;
    font-style: italic;
}

.author {
    font-size: 24px;
    font-weight: bold;
}

.actionBox {
    background-color: #3882F6;
    width: 100%;
    display: flex;
    padding: 39px 8vw;
    border-radius: 9px;
    justify-content: space-between;
    align-items: center;
}

.actionTextBox {
    color: #E5E7EB;
}

.actionTextBox b {
    font-size: 19px;
}

.actionBox button {
    background: #3882f6;
    padding: 0px 25px;
    height: 31px;
    color: #e5e7eb;
    border: solid #e5e7eb 2px;
    border-radius: 7px;
    font-weight: bold;
}

footer {
    background-color: #1f2937;
    width: 100%;
    text-align: center;
    color: #f9faf8;
    padding: 30px 0;
}